
// buttons
.btn {
    color: $white;
    width: 100%;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px 0;
    @media (min-width: $break-md){
        & {
            padding: 10px 30px;
        }
        & + & {
            margin-left: 10px;
        }
    }
}

.default {
    background-color: $color-third;
}
.success {
    background-color: #63cc82;
}
.error {
    background-color: #e4757a;
}
.warning {
    background-color: #fd7856;
}
.info {
    background-color: #927bc1;
}

@media (min-width: $break-md){
    .row .col-12{
        display: flex;
    }
}
